@import './skin1/default.scss';

#default-skin{

    .el-carousel{
        height:100%;
        .el-carousel__container{
            height:100% !important;
        }
    }
}

#skin-1{
    .yy-header-container{
        background:#f90;
    }
}

#skin-2{
    .yy-header-container{
        background:rgb(84, 194, 117);
    }
}

#skin-3{
    .yy-header-container{
        background:rgb(87, 95, 196);
    }
}

#skin-4{
    .yy-header-container{
        background:rgb(228, 31, 57);
    }
}